---
layout: layout.njk
title: ติดต่อเรา
---
<div class="row gy-4">
  <div class="col-md-7 col-12">
    <h1>ติดต่อร้าน SoTrad</h1>
    <ul class="list-group mb-3">
      <li class="list-group-item">โทร: 088-123-4567</li>
      <li class="list-group-item">Line: @anasbuild</li>
      <li class="list-group-item">Facebook: <a href="https://facebook.com/anasbuild">anasbuild</a></li>
      <li class="list-group-item">Email: info@anasbuild.com</li>
      <li class="list-group-item">ที่อยู่: 123/45 ถนนตัวอย่าง อำเภอเมือง จังหวัดยะลา</li>
    </ul>
  </div>
  <div class="col-md-5 col-12">
    <h5 class="mb-3">ส่งข้อความหาเรา (mock form):</h5>
    <form>
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="ชื่อของคุณ">
      </div>
      <div class="mb-3">
        <input type="email" class="form-control" placeholder="อีเมล">
      </div>
      <div class="mb-3">
        <textarea class="form-control" rows="3" placeholder="ข้อความ"></textarea>
      </div>
      <button type="submit" class="btn btn-primary w-100">ส่งข้อความ</button>
    </form>
  </div>
</div>